.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #bbc600;

    @include media-breakpoint-up("lg") {
        display: flex;

        &--min-height {
            min-height: 50vh;
        }

        &--narrow {
            padding: 2rem;
        }

        .container {
            display: flex;
            flex: 0 0 100%;
        }

        .row {
            display: flex;
            flex: 0 0 100%;
            flex-direction: row;
            align-items: flex-end;
        }
    }
}
