@{
    var sitemap = WebApp.Site.Sitemap;
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">LS Cargo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @foreach (var item in sitemap)
                {
                    <li class="nav-item @(item.Id == WebApp.PageId ? "active" : "")">
                        <a class="nav-link" href="@item.Permalink"><span>@item.MenuTitle</span></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>