@model LSCargo.Web.Models.Regions.ContactCard
<div class="contact-card">
    <figure class="contact-card__image">
        <img src="~/assets/prototype/profile__male.jpg"> @* TODO: REPLACE WITH REAL IMAGE *@
    </figure>
    <h3 class="contact-card__name">@Model.Name</h3>
    <dl class="contact-card__details">
        <dt>E-post</dt>
        <dd>
            <i class="fal fa-envelope fa-fw"></i>
            <a href="mailto:@Model.Email">@Model.Email</a>
        </dd>

        <dt>Telefon</dt>
        <dd>
            <i class="fal fa-mobile fa-fw"></i>
            <a href="tel:@Model.Phone">@Model.Phone</a>
        </dd>
    </dl>
</div>