@model IList<LSCargo.Web.Models.Regions.Teaser>

<div class="row">
    
    @foreach(var cards in Model)
    {
        <div class="container">
        
          @cards

        </div>
    } 

</div> 