@{
    ViewBag.Title = "title";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <ul class="contact-list row justify-content-center">
                @foreach (var contactCard in Model)
                {
                    <li class="contact-list__item col-md-4">
                        <partial name="~/Views/Cms/DisplayTemplates/ContactCard.cshtml" model="@contactCard"/>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>