@{
    ViewBag.Title = "title";
}

<div class="container">
    <ul class="contact-list row justify-content-center">
        <li class="contact-list__item col-md-4">
            <div class="contact-card">
                <figure class="contact-card__image">
                    <img src="~/assets/prototype/profile__male.jpg">
                </figure>
                <h3 class="contact-card__name">John Doe</h3>
                <dl class="contact-card__details">
                    <dt>E-post</dt>
                    <dd>
                        <i class="fal fa-envelope fa-fw"></i>
                        <a href="mailto:john.doe@lscargo.com">john.doe@LSCargo.com</a>
                    </dd>

                    <dt>Telefon</dt>
                    <dd>
                        <i class="fal fa-mobile fa-fw"></i>
                        <a href="tel:+46701234567">+46 70 123 45 67</a>
                    </dd>
                </dl>
            </div>
        </li>

        <li class="contact-list__item col-md-4">
            <div class="contact-card">
                <figure class="contact-card__image">
                    <img src="~/assets/prototype/profile__female.jpg">
                </figure>
                <h3 class="contact-card__name">Jane Doe</h3>
                <dl class="contact-card__details">
                    <dt>E-post</dt>
                    <dd>
                        <i class="fal fa-envelope fa-fw"></i>
                        <a href="mailto:jane.doe@lscargo.com">jane.doe@LSCargo.com</a>
                    </dd>

                    <dt>Telefon</dt>
                    <dd>
                        <i class="fal fa-mobile fa-fw"></i>
                        <a href="tel:+46701234567">+46 70 123 45 67</a>
                    </dd>
                </dl>
            </div>
        </li>

        <li class="contact-list__item col-md-4">
            <div class="contact-card">
                <figure class="contact-card__image">
                    <img src="~/assets/prototype/profile__male.jpg">
                </figure>
                <h3 class="contact-card__name">John Doe</h3>
                <dl class="contact-card__details">
                    <dt>E-post</dt>
                    <dd>
                        <i class="fal fa-envelope fa-fw"></i>
                        <a href="mailto:john.doe@lscargo.com">john.doe@LSCargo.com</a>
                    </dd>

                    <dt>Telefon</dt>
                    <dd>
                        <i class="fal fa-mobile fa-fw"></i>
                        <a href="tel:+46701234567">+46 70 123 45 67</a>
                    </dd>
                </dl>
            </div>
        </li>

        <li class="contact-list__item col-md-4">
            <div class="contact-card">
                <figure class="contact-card__image">
                    <img src="~/assets/prototype/profile__female.jpg">
                </figure>
                <h3 class="contact-card__name">Jane Doe</h3>
                <dl class="contact-card__details">
                    <dt>E-post</dt>
                    <dd>
                        <i class="fal fa-envelope fa-fw"></i>
                        <a href="mailto:jane.doe@lscargo.com">jane.doe@LSCargo.com</a>
                    </dd>

                    <dt>Telefon</dt>
                    <dd>
                        <i class="fal fa-mobile fa-fw"></i>
                        <a href="tel:+46701234567">+46 70 123 45 67</a>
                    </dd>
                </dl>
            </div>
        </li>

        <li class="contact-list__item col-md-4">
            <div class="contact-card">
                <figure class="contact-card__image">
                    <img src="~/assets/prototype/profile__male.jpg">
                </figure>
                <h3 class="contact-card__name">John Doe</h3>
                <dl class="contact-card__details">
                    <dt>E-post</dt>
                    <dd>
                        <i class="fal fa-envelope fa-fw"></i>
                        <a href="mailto:john.doe@lscargo.com">john.doe@LSCargo.com</a>
                    </dd>

                    <dt>Telefon</dt>
                    <dd>
                        <i class="fal fa-mobile fa-fw"></i>
                        <a href="tel:+46701234567">+46 70 123 45 67</a>
                    </dd>
                </dl>
            </div>
        </li>
    </ul>
</div>